<h1>Check in</h1>

<p>How are you feeling today</p>

  <%= simple_form_for(@mood) do |f| %>
    <%= select_tag :feeling, options_for_select(Mood::FEELING), multiple: true, class: "form-control search-bar" %>
    <%= date_select("day", "date") %>
    <%= f.submit %>

  <% end %>
