// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// color-scheme
$mood: #2B736B;
// $sleep: #2eafd3;
$sleep: #028efb;
// $pain: #9A4464;
$pain: #914B77;
//$exercise: #302942;
$exercise: #E59F71;
$grey: #DDE0E2;

$white: #FFFFFF;
