<div class="our-navbar">
  <%= link_to root_path do  %>
    <i class="fas fa-home" id="home"></i>
  <% end %>
  <%= link_to days_path do  %>
    <i class="far fa-calendar-alt"></i>
  <% end %>
  <%= link_to new_mood_path do  %>
    <i class="fas fa-plus" id="plus"></i>
  <% end %>
  <i class="far fa-edit"></i>
  <%= link_to stats_path do  %>
    <i class="far fa-chart-bar"></i>
  <% end %>
</div>

