<div class="home-page">

<%= link_to  destroy_user_session_path, method: :delete, class: "sign-out" do  %>
  <i class="fas fa-key"></i>
  <% end %>

<div class="container-home">
  <h1><%= @greeting %> <%=current_user.first_name %></h1>
</div>
<div class="get-started">
  <!-- <h3 id="start-head">How are you feeling?</h3> -->
<%= link_to 'Track Your Feelings',  new_mood_path, class: "but-home" %>
</div>
</div>



