

<div class="video-entry-2">
     <p><i class="fas fa-video video-icon"></i></p>
  </div>
  <div class="journal-info">
    <p class="card-date"> <%= journal.created_at.strftime("%A, %B %e, %Y") %></p>
    <h4> Video Entry</h4>
    <p> <%= journal.created_at.strftime("%I:%M %p") %></p>
   </div>
   <i class='fas fa-chevron-right show-fas'></i>
