<body class="journal-back">


<h3 class="journal-header">Journal</h3>
  <div class="journal-icons">
    <div class="text-entry">
      <p>T</p>
  </div>
    <div class="video-entry">
      <p><i class="fas fa-video"></i></p>
    </div>
</div>





    <%@journals.each do |journal| %>
<div class="journal-show">
  <div class="text-entry-2">
      <p class="text-icon">T</p>
  </div>
 <!--  <div class="d-flex bd-highlight mb-3"> -->
  <div class="journal-info">

          <p class="card-date"> <%= journal.created_at.strftime("%A, %B %eth, %Y") %></p>
        <h4 ><%= journal.title %></h4>
        <p ><%= journal.text %></p>
   </div>
   <i class='fas fa-chevron-right show-fas'></i>
   <!-- </div> -->
   </div>
      <% end %>



</body>




