.but-home {
  background: rgba(249, 249, 249, 0.5);
  //border: thin 5px rgba(0, 0, 0, 0.5);

  color: $sleep;
  border-radius: 5px;
  padding:30px;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;

}

.fa-key {
  color: white;
  margin: 10px;

}
.btn-mood {
  border-radius: 5px !important;
}

.mood-field {
  text-align: center;
  margin-right: 10px;

}

.mood-date {
  // margin-left: 38px;
  margin-top: 40px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 4px;
  border: 5px solid;
  border-image-source: linear-gradient(45deg, rgb(12,201,179), rgb(43,115,107));
  border-image-slice: 1;
  font-family: 'Comfortaa', cursive;

}


.btn-pain {
  border-radius: 5px !important;
  input {
    color: white !important;
  }
}

.pain-field {
  text-align: center;
  margin-right: 10px;
}

.pain-date {
  margin-top: 40px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 4px;
  border: 5px solid;
  border-image-source: linear-gradient(45deg, rgb(219,100,144), rgb(154,68,100));
  border-image-slice: 1;
  font-family: 'Comfortaa', cursive;
}


.btn-exercise {
  border-radius: 5px !important;
  input {
    color: white !important;
  }
}

.exercise-field {
  text-align: center;
  margin-right: 10px;
}

.exercise-date {
  margin-top: 40px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 4px;
  border: 5px solid;
  border-image-source: linear-gradient(45deg, rgb(106,92,142), rgb(48,41,66));
  border-image-slice: 1;
  font-family: 'Comfortaa', cursive;
}



.btn-sleep {
  border-radius: 5px !important;
  input {
    color: white !important;
  }
}

.sleep-field {
  text-align: center;
  margin-right: 10px;
}

.sleep-date {
  margin-top: 40px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 4px;
  border: 5px solid;
  border-image-source: linear-gradient(45deg, rgb(89,121,122), rgb(182,179,181));
  border-image-slice: 1;
  font-family: 'Comfortaa', cursive;
}


.sign-out {
  color: #12afff5e;
}


























