.but-home {
  background: rgba(249, 249, 249, 0.5);
  //border: thin 5px rgba(0, 0, 0, 0.5);

  color: $sleep;

  padding:22px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  overflow: wrap;


}

.back-but {
  color: white;
      font-size: 27px;
      text-align: center;

}

.fa-key {
  color: white;
  margin: 10px;

}
.btn-mood {
  border-radius: 5px !important;
  // box-shadow: 2px 2px 5px darkgrey;
  height: 50px;
  background-image: linear-gradient(270deg, #2B736B, #0cc9b3);
  font-size: 18px;
  border: none;


}

.mood-field {
  text-align: center;
  margin-right: 10px;

}

.mood-date {
  // margin-left: 38px;
  // margin-top: 40px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  height: 16px;
  // border: 5px solid;
  // border-image-source: linear-gradient(45deg, rgb(12,201,179), rgb(43,115,107));
  // border-image-slice: 1;
  font-family: 'Comfortaa', cursive;

}


.btn-pain {
  border-radius: 5px !important;
  font-size: 18px;
  height: 50px;
  background-image: linear-gradient(270deg, #9A4464, #db6490);
  border: none;
  input {
    color: white !important;
    text-align: center;
    padding-top: 10px;
  }
}

.pain-field {
  text-align: center;
  margin-right: 10px;
}

.pain-date {
  // margin-top: 40px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 4px;
  // border: 5px solid;
  // border-image-source: linear-gradient(45deg, rgb(219,100,144), rgb(154,68,100));
  // border-image-slice: 1;
  font-family: 'Comfortaa', cursive;
}


.btn-exercise {
  border-radius: 5px !important;
  height: 50px;
  background-image: linear-gradient(270deg, #E59F71, #f9c5a4);
  border: none;
  font-size: 18px !important;
  input {
    color: white !important;
  }
}

.exercise-field {
  text-align: center;
  margin-right: 10px;
}

.exercise-date {
  // margin-top: 40px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 4px;
  // border: 5px solid;
  // border-image-source: linear-gradient(45deg, rgb(106,92,142), rgb(48,41,66));
  // border-image-slice: 1;
  font-family: 'Comfortaa', cursive;
}



.btn-sleep {
  border-radius: 5px !important;
  height: 50px;
  background-image: linear-gradient(270deg, #028efb, #88cafc);
  border: none;
  font-size: 18px !important;
  input {
    color: white !important;
  }
}

.sleep-field {
  text-align: center;
  margin-right: 10px;
}

.sleep-date {
  // margin-top: 40px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 4px;
  // border: 5px solid;
  // border-image-source: linear-gradient(45deg, rgb(89,121,122), rgb(182,179,181));
  // border-image-slice: 1;
  font-family: 'Comfortaa', cursive;
}


.sign-out {
  color: #12afff5e;
}



.text-button {
  border-radius: 5px !important;
text-align: center;
vertical-align: center;
  height: 50px;
  font-size: 18px;
  color: white;
   background-image: linear-gradient(270deg, #028efb, #88cafc);
   border: none;
   width: 145px;
}


.video-button {
  border-radius: 5px !important;
text-align: center;
vertical-align: center;
  height: 50px;
    font-size: 18px;
  color: white;
  background-image: linear-gradient(270deg, #028efb, #88cafc);
  border:none;
  width: 145px;
}


.upload-video {
  width: 100px;
  height: 100px;
  font-size: 0;
  background-image: linear-gradient(270deg, #028efb, #88cafc);
  border: 0;
  border-radius: 57px;
  margin: 18px;
  outline: none;
  position:absolute;
bottom: 315px;
    left: 132px;
}

.video-done {
 background-image: linear-gradient(270deg, #028efb, #88cafc);
  padding: 5px 10px;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  //border: 3px solid;
  font-weight: bold;
  width: 80px;
  position:absolute;
   top: 670px;
    font-size: 18px;
    height: 50px;
    color: white;
  a {

  color: white;
  }
}

.video-icon-new {
     position: absolute;
    bottom: 357px;
    left: 175px;
    color: white;
    font-size: 50px;
}

