.but-home {
  background: rgba(249, 249, 249, 0.5);
  //border: thin 5px rgba(0, 0, 0, 0.5);

  color: $sleep;

  padding:22px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  overflow: wrap;


}

.fa-key {
  color: white;
  margin: 10px;

}
.btn-mood {
  border-radius: 5px !important;
  // box-shadow: 2px 2px 5px darkgrey;
  height: 50px;
  background-image: linear-gradient(270deg, #2B736B, #0cc9b3);
  font-size: 18px;
  border: none;


}

.mood-field {
  text-align: center;
  margin-right: 10px;

}

.mood-date {

  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 4px;
  font-family: 'Comfortaa', cursive;

}


.btn-pain {
  border-radius: 5px !important;
  font-size: 18px;
  height: 50px;
  background-image: linear-gradient(270deg, #9A4464, #db6490);
  border: none;
  input {
    color: white !important;
    padding-top: 10px;
  }
}

.pain-field {
  text-align: center;
  margin-right: 10px;
}

.pain-date {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 4px;
  font-family: 'Comfortaa', cursive;
}


.btn-exercise {
  border-radius: 5px !important;
  height: 50px;
  background-image: linear-gradient(270deg, #E59F71, #f9c5a4);
  border: none;
  font-size: 18px !important;
  input {
    color: white !important;
  }
}

.exercise-field {
  text-align: center;
  margin-right: 10px;
}

.exercise-date {
 margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 4px;
  font-family: 'Comfortaa', cursive;
}



.btn-sleep {
  border-radius: 5px !important;
  height: 50px;
  background-image: linear-gradient(270deg, #028efb, #88cafc);
  border: none;
  font-size: 18px !important;
  input {
    color: white !important;
  }
}

.sleep-field {
  text-align: center;
  margin-right: 10px;
}

.sleep-date {
   margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  text-align: center;
  padding: 4px;
  font-family: 'Comfortaa', cursive;
}


.sign-out {
  color: #12afff5e;
}



.text-button {
  border-radius: 5px !important;
text-align: center;
vertical-align: center;
  height: 50px;
  font-size: 18px;
  color: white;
   background-image: linear-gradient(270deg, #028efb, #88cafc);
   border: none;
   width: 145px;
}


.video-button {
  border-radius: 5px !important;
text-align: center;
vertical-align: center;
  height: 50px;
    font-size: 18px;
  color: white;
  background-image: linear-gradient(270deg, #028efb, #88cafc);
  border:none;
  width: 145px;
}




