.day {
  background-color: white;
  height: 50px;
  border: none;
  text-align: center;
}
th {
  color: black;
  font-weight: normal;
  min-width: 53.57px !important;
  max-width: 53.57px !important;
  border-bottom: white !important;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
        font-weight: 550;


}

.day-cal {
  text-align: center;
}

td {
border-top-color: white !important;
padding: 0px !important;

}

.all-event {
display: flex;
flex-wrap: wrap;

}

tr {
  background-color: white;

}


.active{
background-color: #59bab3;
border-radius: 10px !important;
color: white !important;
 //background-color: rgba(58, 232, 223, 0.2);
}

.day-link {
  display: block;
  padding: 9px;
  text-decoration: none !important;
  color: black;

}

.day-link a {
  text-align: center;
}


//#text
.table-striped tbody tr:nth-of-type(odd) {
    background-color: white !important;
}


.fas {
  color: #59bab3;
 // font-size: 25px;
  font-weight: 350px;
}

.calendar-title {
  font-size: 19px;
  padding-left: 25px;
  padding-right: 25px;

}


.calendar-heading {
  padding-bottom: 12px;
  text-align: center;
}



.week-active {
  background-color: #9A999B;
  border-radius: 10px !important;
  color: white !important;
}




















