.mood-event {
    width: 6px;
    height: 6px;
    background-color: $mood;
    border-radius: 50%;
  }


  .exercise-event {
    width: 6px;
    height: 6px;
    background-color: $exercise;
    border-radius: 50%;

  }

  .pain-event {
    width: 6px;
    height: 6px;
    background-color: $pain;
    border-radius: 50%;

  }

  .sleep-event {
    width: 6px;
    height: 6px;
    background-color: $sleep;
    border-radius: 50%;

  }
