.mood-event {
    width: 6px;
    height: 6px;
    background-color: $mood !important;
    border-radius: 50%;
    position: relative;

  }

  .mood-event-show {
    width: 15px;
    height: 15px;
    background-color: $mood !important;
    border-radius: 50%;
    position: relative;

  }

.delete-but {
  position: absolute;
  font-size: 10px;
  color: white;
text-align: center;
  text-decoration: none;
  right: 1px;
    left: 1px;



}

 .exercise-event-show {
    width: 15px;
    height: 15px;
    background-color: $exercise !important;
    border-radius: 50%;
    position: relative;

  }

  .delete-but-x {
  position: absolute;
  font-size: 10px;
  color: white;
    text-align: center;
  text-decoration: none;
  right: 1px;
    left: 1px;
  }

  .exercise-event {
    width: 6px;
    height: 6px;
    background-color: $exercise !important;
    border-radius: 50%;

  }

  .pain-event {
    width: 6px;
    height: 6px;
    background-color: $pain !important;
    border-radius: 50%;

  }

  .pain-event-show {
     width: 15px;
    height: 15px;
    background-color: $pain !important;
    border-radius: 50%;
    position: relative;
  }
 .delete-but-p {
  position: absolute;
  font-size: 10px;
  color: white;
    text-align: center;
  text-decoration: none;
  right: 1px;
    left: 1px;
  }
  .sleep-event {
    width: 6px;
    height: 6px;
    background-color: $sleep !important;
    border-radius: 50%;
  }

  .sleep-event-show {
     width: 15px;
    height: 15px;
    background-color: $sleep !important;
    border-radius: 50%;
    position: relative;
  }
 .delete-but-s {
  position: absolute;
  font-size: 10px;
  color: white;
    text-align: center;
  text-decoration: none;
  right: 1px;
    left: 1px;
  }
.no-event {
  width: 8px;
    height: 8px;
    background-color: white !important;
    border: 1px solid black;
    border-radius: 50%;
}

.all-event {
  background-color: rgba(255,255,255, 0.01)!important;
}

.show-info {
  font-size: 17px;
   font-family: 'Raleway', sans-serif;
}

#pain-name {
  font-weight: bold;
  color: $pain;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;


}


#ex-name {
  font-weight: bold;
  color: $exercise;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;


}

#mood-name {
  font-weight: bold;
  color: $mood;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;


}

#sleep-name {
  font-weight: bold;
  color: $sleep;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;


}


#pain-info {
  color: $pain;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;


}


#ex-info {
  color: $exercise;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;


}

#mood-info {
  color: $mood;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2px !important;


}

#sleep-info {
  color: $sleep;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;


}


.show-box {
  margin-top: 40px;
  padding: 16px;
  background-color: white;
  border-left: 5px solid gray;
  overflow: scroll;
}

.box-date {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: bold;

}


