.mood-event {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
  }


  .exercise-event {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;

  }

  .pain-event {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;

  }

  .sleep-event {
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;

  }
