h1 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}


.calendar-heading {
  font-family: 'Comfortaa', cursive;
  text-align: center;

}

.mood-header {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  padding-top: 10px;
}

.mood-info {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  padding-top: 10px;
}
