h1 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
   padding-top: 10px;
}


.calendar-heading {
  font-family: 'Comfortaa', cursive;
  text-align: center;

}

.mood-header {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  padding-top: 20px;
  font-size: 19px;

}

.mood-info {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  padding-top: 10px;
  font-size: 19px;

}


#start-head {
  font-family: 'Comfortaa', cursive;
  padding-bottom: 20px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  width: 250px;
  padding-top: 15px;
}


.add-entry {
position:absolute;
   left: 115px;
    bottom: 437px;
}


.video-journal {
  position:absolute;
   left: 104px;
    top: 24px;
}

.show-date {
  margin-left: 20px;
}
