#home {
  color: black;
  font-size: 30px;
}

.book-nav {
  color: black !important;
  font-size: 30px;
}

.fa-calendar-alt {
  color: black;
  font-size: 30px;
}

#plus {
  color: black;
  font-size: 55px;
  color: #f9cbb8;
}


.fa-edit {
  color: black;
  font-size: 30px;
}

.fa-chart-bar {
  color: black;
  font-size: 35px;
}

.fa-bars {
  color: black;
  font-size: 25px;
}
