

.form-control {
      border: 1px solid #f8f9fa00;

}

.journal_title {
padding-top: 25px;
border-bottom: 1px solid black;
align: center;
margin-left: 16px;
margin-right:16px;

}

.journal_title input{
background-color: transparent;
width: 90%;


}

.journal_text {
  margin-left: 16px;
margin-right:16px;

}

.journal_text textarea {
  background-color: transparent;
  height: 60vh;
width: 90%;
margin-left: 16px;
margin-right:16px;
outline:none !important;


}

.home-page {
  background-image: url("https://images.unsplash.com/photo-1500485035595-cbe6f645feb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px);
}
.journal {
  background-color: white;
}

.journal-date {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ACBEA3;
  color: white;
}

.journal-btn {
  color: white;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;

}
.text-entry {
  width: 80px;
    height: 80px;

    font-family: 'Merriweather', serif;
    font-size: 60px;
    opacity: 0.9px;

    color: gray;
    border-radius: 8px;

    text-align: center;
    vertical-align: middle;
    margin-right: 30px;

     background-color: rgba(249,249,249, 0.8);
     box-shadow: 4px 4px 8px #C0C0C0;
     border: solid 2px #7B8CCA;




}

.video-entry {
  width: 80px;
  height: 80px;
   background-color: rgba(249,249,249, 0.8);
   //background: #217092;
  border-radius: 8px;
display: flex;
justify-content: center;
    box-shadow: 4px 4px 8px #C0C0C0;
    border: solid 2px #00AFB5;

}


.video-entry .fas {
  line-height:inherit!important;

   color:gray;
    font-size: 50px;

}

.journal-header {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 32px;
}


.journal-back {
     background-image: url("https://images.unsplash.com/photo-1420136390439-1482fc2ce4b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px);
  align-items: center;
}


.journal-show {
  background-color: rgba(249,249,249, 0.8);
  overflow: hidden;
  height: 90px;
  // background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-bottom: solid 1px gray;
  position: relative;




}

.journal-show h4 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;

}

.journal-show p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

}

.journal-show .journal-info {
  padding: 16px;


}

.journal-info {
  align-items: stretch;
}


.jorunal-show p {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.text-entry-2 {
  width: 60px;
    height: 60px;
    background-color: black;
    font-family: 'Merriweather', serif;
    font-size: 60px;
    opacity: 0.9px;
margin-left: 15px;
    color: white;
border-radius: 5px;
    text-align: center;
    vertical-align: middle;

     background-color: rgba(249,249,249, 0.8);
     box-shadow: 4px 4px 8px #C0C0C0;
    border: solid 2px #7B8CCA;


}


.text-entry-2 p {
  font-size: 35px;
  color: gray;

}

.journal-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 20px;
}

.show-fas {

  color: #C0C0C0;
  position: absolute;

  left: 340px;
}

.card-date {
  position: absolute;
  top:0;

  left: 230px;
}

