  #myChart {
    height: 50vh !important;
    background-color: rgba(255, 255, 255, 0.4);
    /*width: 100% !important;*/
  }

  #myChart-exercise {
    height: 55vh !important;
    // background-color: rgba(255, 255, 255, 0.4);
  }

  #myChart-sleep {
    height: 55vh !important;
  }


  .hold-canvas {
    width: 100vw;
    padding: 20px;
  }

.mood-legend {
  font-size: 15px;
  // font-weight: bold;
  background-color: rgba(255, 255, 255, .5);
  margin: 0px 20px;
  padding-top: 10px;
  // margin-bottom: 30px;
  padding-left: 30px;
  p {
    font-family: 'Raleway', sans-serif;
  }
}

.mood-stat {
  padding-top: 20px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  padding-bottom: 20px;
}

.mood-stat-header {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

#myChart-pain {
  background-color: rgba(255, 255, 255, 0.4);
  height: 50vh !important;

}


.mood-stat-header {
  margin-left: 15px;
}


.stats-bar {
  text-align: center;
  padding-bottom: 20px;
}

.stats-bar-sleep {
  text-align: center;
  padding-bottom: 40px;
}


.Great {
  font-weight: bold;
  color: rgba(75, 192, 192, .6);
}

.Sad {
  color: rgba(54, 162, 235, .6);
}

.Good {
  color: rgba(255, 206, 86, .6);
}


.Okay {
  color: rgba(153, 102, 255, .6);
}

.Angry {
  color: rgba(255, 99, 132, .6);
}


.Anxious {
  color: rgba(255, 159, 64, .6);
}


.Back {
 color: rgba(165, 70, 87, .8);
}

.Chest {
  color:rgba(255, 77, 128, .8);
}

.Head {
  color:rgba(102, 0, 0, .8);
}


.Stomach {
  color: rgba(218, 85, 82, .8);
}





















