.our-navbar {
  display: flex;
  justify-content: space-around;
  background: white;
  height: 90px;
  align-items: center;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.content {
  min-height: calc(100vh - 110px);
}
