.show-background {
  background-color: white;
}


.show-title {
  //padding-top: 20px;
  padding-left: 15px;
  padding-right: 10px;
   //background-color: #ACBEA3;
   color: black;
   padding-top: 8px;
   padding-bottom: 8px;
}

.show-text {
  padding: 15px;
  max-height: 600px;
  overflow: scroll;
}



.journal-del {
  font-size: 25px;
  margin-right: 10px;
  color:white;
}

 .journal-ed {
  font-size: 25px;
  padding-left: 10px;
  color: white;
}

.journal-options {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
background-color: #ACBEA3;
   color: white;
}



