#feeling {
  display: none;
}

#symptom {
  display: none;
}

.sleep_hours {
  display: none;
}

.option-swipe {
  font-size: 18px;
  display: flex;
  font-family: 'Comfortaa', cursive;
  color: black;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
  // background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;

  a {
    color: black;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
  }
}

#arrow {
  text-align: center;
  font-size: 35px;
}

span {
  display: inline-block;
  content: " ";
  margin-right: 6px;
}



.tab {
  // font-size: 18px;
  // font-weight: bold;
  // padding: 10px;
  // opacity: 0.3;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  font-weight: bold;
}
.tab:hover {
  opacity: 1;
}
.tab.actives {
  opacity: 1;
  font-size: 18px;
  font-weight: bold;

}

.tab.actives.moods {
  background-color: $mood;
  border: 4px solid;
  a {
  text-decoration: none;
    color: white;
  }
}

.tab.actives.pains {
  background-color: $pain;
  border: 4px solid;
  a {
    text-decoration: none;
    color: white;
  }
}

.tab.actives.sleeps {
  background-color: $sleep;
  border: 4px solid;
  a {
    text-decoration: none;
    color: white;
  }
}

.tab.actives.exercises {
  background-color: $exercise;
  border: 4px solid;
  a {
    text-decoration: none;
    color: white;
  }
}

.moods {
  color: $mood !important;
  background-color: white;
  padding: 5px 10px;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  border: 3px solid ;
  a {

  color: $mood;
  }
}


.pains {
  color: $pain;
  background-color: white;
  padding: 5px 10px;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  border: 3px solid;
  a {

  color: $pain;
  }

}

.sleeps {
  color: $sleep;
 background-color: white;
  padding: 5px 10px;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  border: 3px solid;
  a {

  color: $sleep;
  }
}


.exercises {
  color: $exercise;
 background-color: white;
  padding: 5px 10px;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  border: 3px solid;
  a {
  text-shadow: 1px 1px 0px lightgrey;
  color: $exercise;
  }
}

.cal-swipe {
  display: flex;
  td {
    flex-wrap: wrap;
  }
}

#day_date_1i {
  display: none;
}

#day_date_2i {
  display: none;
}

#day_date_3i {
  display: none;
}

















