#feeling {
  display: none;
}

#symptom {
  display: none;
}

.sleep_hours {
  display: none;
}

.option-swipe {
  font-size: 40px;
  display: flex;
  font-family: 'Comfortaa', cursive;
  color: black;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
  background-color: white;
  a {
    color: black;
    flex-wrap: wrap;
    text-align: center;
  }
}

#arrow {
  text-align: center;
  font-size: 35px;
}

span {
  display: inline-block;
  content: " ";
  margin-right: 6px;
}



.tab {
  // font-size: 18px;
  // font-weight: bold;
  // padding: 10px;
  // opacity: 0.3;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  font-weight: bold;
}
.tab:hover {
  opacity: 1;
}
.tab.actives {
  opacity: 1;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 4px solid #48494A;
}



.moods a {
 color: $mood !important;
}


.pains a {
  color: $pain;
}

.sleeps a {
  color: $sleep;
}


.exercises a {
  color: $exercise;
}

.cal-swipe {
  display: flex;
  td {
    flex-wrap: wrap;
  }
}

// #day_date_1i {
//   display: none;
// }

// #day_date_2i {
//   display: none;
// }

// #day_date_3i {
//   display: none;
// }

























