<h1>Check in</h1>

<p>Are you feeling any pain today?</p>

  <%= simple_form_for(@pain) do |f| %>
    <%= select_tag :symptom, options_for_select(Pain::SYMPTOMS), multiple: true, class: "form-control search-bar" %>
    <%= date_select("day", "date") %>
    <%= f.submit %>

  <% end %>
