<h1>Check in</h1>
<p>How long did you workout for today?</p>

  <%= simple_form_for(@exercise) do |f| %>
  <%= f.input :time, collection: Exercise::TIME, input_html: { min: '0', step: '10' } %>
    <%= date_select("day", "date") %>
    <%= f.submit %>

  <% end %>
