
<h3 class="mood-stat">Your weekly Exercise Recap</h3>
<%= render 'shared/statswipe' %>

<canvas id="myChart-exercise" width="400" height="400" data-times="<%= @times.to_json %>" data-days="<%= @day_names.to_json %>"></canvas>


<%= javascript_pack_tag 'exercise_chartjs' %>


