<h3 class="mood-stat">Your weekly Sleep Recap</h3>

<%= render 'shared/statswipe' %>

<canvas id="myChart-sleep" width="400" height="400" data-hours="<%= @hours.to_json %>" data-days="<%= @day_names.to_json %>"></canvas>


<%= javascript_pack_tag 'sleep_chartjs' %>


